body {
	position:relative;
	width: 100%;
	background: #505050;
	margin: 0px;
}
#content {
	width: 1420px;
	margin: 20px auto 0px auto;
	position: relative;
}
#header {
	width: 1420px;
	height: 136px;
	background: #909090;
	margin: 18px auto 0px auto;
	border-radius: 10px;
	position: relative;
	-moz-box-shadow: 10px 10px 10px 0px #000000;
	-webkit-box-shadow: 10px 10px 10px 0px #000000;
	-o-box-shadow: 10px 10px 10px 0px #000000;
	box-shadow: 10px 10px 10px 0px #000000;
}
#logo {
	height: 116px;
	margin: 10px;
}
#close {
	right: 0px;
	height: 20px;
	width: 20px;
	position: absolute;
	right: 0px;
	margin: 10px;
	bottom: 0px;
}
#reload {
	height: 20px;
	width: 20px;
	position: absolute;
	right: 0px;
	margin: 10px;
}
#loupe {
	position: absolute;
	right: 30px;
	top: 10px;
}
#col-left {
	width: 142px;
	height: 425px;
	background: #909090;
	border-radius: 10px;
	-moz-box-shadow: 10px 10px 10px 0px #000000;
	-webkit-box-shadow: 10px 10px 10px 0px #000000;
	-o-box-shadow: 10px 10px 10px 0px #000000;
	box-shadow: 10px 10px 10px 0px #000000;
	margin: 0px 29px;
	float: left;
	text-align: center;
}
#center {
	width: 1020px;
	height: 580px;
	background: #909090;
	border-radius: 10px;
	-moz-box-shadow: 10px 10px 10px 0px #000000;
	-webkit-box-shadow: 10px 10px 10px 0px #000000;
	-o-box-shadow: 10px 10px 10px 0px #000000;
	box-shadow: 10px 10px 10px 0px #000000;
	display: inline-block;
}
#center img {
    margin: 10px;
    width: 1000px;
    height: 560px;
}
#col-right {
	width: 142px;
	height: 425px;
	background: #909090;
	border-radius: 10px;
	-moz-box-shadow: 10px 10px 10px 0px #000000;
	-webkit-box-shadow: 10px 10px 10px 0px #000000;
	-o-box-shadow: 10px 10px 10px 0px #000000;
	box-shadow: 10px 10px 10px 0px #000000;
	margin: 0px 29px;
	float: right;
	text-align: center;
}
#main {
	margin: 2px;
	width: 70px;
}
#oeil {
	margin: 2px;
	width: 70px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 5px solid #ff0000;
}
#outil {
	margin: 2px;
	width: 70px;
}
#chat {
	margin: 2px;
	width: 70px;
}
#book, #towel {
	width: 60px;
	margin: 2px;
}
#book {
	margin: 15px 5px 10px 5px;
	width: 70px;
}
#arrow {
	margin: 15px 5px 0px 5px;
	width: 70px;
}
#brick {
	width: 120px;
    height: 70px;
    margin: 0 auto;
    background: blue;
    background-image: url("./resources/brick.jpg");
}
#box-play {
	width: 520px;
	height: 170px;
	background: #88ff89;
	border-radius: 10px;
	-moz-box-shadow: 10px 10px 10px 0px #000000;
	-webkit-box-shadow: 10px 10px 10px 0px #000000;
	-o-box-shadow: 10px 10px 10px 0px #000000;
	box-shadow: 10px 10px 10px 0px #000000;
	position: absolute;
	left: -55px;
	top: 506px;
	padding: 5px;
}
#box-play p {
	margin-left: 15px;
    font-family: Geneva;
    font-size: 18px;
}
.bfont {
    font-size: 30px;
    font-family: Georgia;
}
.shadfont {
	text-shadow: 5px 5px 5px #ff0000;
}