body {
	text-align: center;
	margin: 0 auto;
}
h1 {
	text-align: center;
}
table {
	border: none;
	margin: 0 auto;
}
td {
	position: relative;
	border: solid 1px #000;
	width: 5%;
	height: 50px;
}
.no_border {
	border: none;
}
.title {
	font-size: 150%;
	display: inline-block;
	margin: 25% 0 0px;
	line-height: 0px;
	text-align: center;
	width: 100%;
}
.weight {
	position: absolute;
	top: 0px;
	right: 2px;
	font-size: 50%;
	display: inline-block;
	text-align: right;
}
.id {
	position: absolute;
	bottom: 0px;
	left: 2px;
	font-size: 50%;
}
.metaux-alcalins {background-color: #FFC591;}
.alcalino-terreux {background-color: #FFDF91;}
.lanthanides {background-color: #D2FF91;}
.actinides {background-color: #B8FF91;}
.metaux-transition {background-color: #ECFF91;}
.autres-metaux {background-color: #FFF991;}
.metalloides {background-color: #91FF9E;}
.non-metaux {background-color: #AB91FF;}
.halogenes {background-color: #F991FF;}
.gaz-nobles {background-color: #91DFFF;}
#mandeleiv {
	height: 200px;
}
#content {
	width: 100%;
    margin: 0 auto;
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
	.title {
		font-size: 1.8vw;
	}
	td {
		height: auto;
		min-height: 40px;
	}
	.weight, .id {
		font-size: 0.5vw;
	}
}